/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>

/ {
    compatible = "st,stm32mp257";

    fragment@0 {
        target = <&ethernet1>;
        __overlay__ {
            status = "okay";
            pinctrl-0 = <&eth1_mdio_pins_a>;
            pinctrl-1 = <&eth1_mdio_sleep_pins_a>;
            pinctrl-names = "default", "sleep";
            phy-mode = "rgmii";
            max-speed = <1000>;
            st,eth-clk-sel;

            fixed-link {
                speed = <1000>;
                full-duplex;
            };

            mdio1 {
                #address-cells = <1>;
                #size-cells = <0>;
                compatible = "snps,dwmac-mdio";

                phy1_eth1: ethernet-phy@4 {
                    compatible = "ethernet-phy-id001c.c916",
                                 "ethernet-phy-ieee802.3-c22";
                    realtek,eee-disable;
                    reg = <4>;
                };

                phy2_eth1: ethernet-phy@5 {
                    compatible = "ethernet-phy-id001c.c916",
                                 "ethernet-phy-ieee802.3-c22";
                    realtek,eee-disable;
                    reg = <5>;
                };
            };
        };
    };

    fragment@1 {
        target = <&switch0>;
        __overlay__ {
            status = "okay";
        };
    };
};