/dts-v1/;
/plugin/;

/ {
    compatible = "digi,ccmp25-dvk", "digi,ccmp25", "digi,ccmp2", "st,stm32mp255";

    fragment@0 {
        target-path = "/";
        __overlay__ {
            overlay-description = "ccmp25viena: dual display LVDS + HDMI";
        };
    };
};

&hdmi_connector {
    status = "okay";
};

&dsi {
    status = "okay";
};

&lt_bridge {
    status = "okay";
};